body{
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, var(--verde-escuro), var(--azulescuro));
}

:root {
        --azulescuro: #003366;
        --verde: #28a745;
        --azul-footer: #1C4E9C;
        --cinza-direitos: #333333;
        --branco-texto: #FAFAFA;
        --verde-escuro: #216130;
}

.container{
        border: solid 2px gray;
        border-radius: 15px;
        width: 450px;
        padding: 30px 40px;
        box-shadow: var(--verde-escuro) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        background-color: white;
}

.container img{
        display: flex;
        margin: 0 auto;
        height: 70px;
        width: 210px;
        align-items: center;
        justify-content: center;
}

.container h1{
        font-size: 30px;
        text-align: center;
}


#nome, #usuario{
    width: 100%;
    height: 40px;
    margin: 30px 0;
}

#nome input, #sobrenome input, #usuario input, #senha input{
        width: 100%;
        height: 30px;
        border-radius: 25px;
        outline: none;
        color:black;
        font-weight: 50px;

}

#remember{
        margin: 30px;
}

#botao button{
        display: block;
        margin: 30px auto;
        align-items: center;
        border: none;
        outline: none;
        border-radius: 25px;
        background-color: var(--verde-escuro);
        color: white;
        width: 200px;
        height: 30px;
}

#botao p, #botao a {
        color: black;
}


.container p, a{
        text-align: center;
        color: white;
}