body {
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, var(--verde-escuro), var(--azulescuro));
}

:root {
        --azulescuro: #003366;
        --verde: #28a745;
        --azul-footer: #1C4E9C;
        --cinza-direitos: #333333;
        --branco-texto: #FAFAFA;
        --verde-escuro: #216130;
}


.container {
        border: solid 2px gray;
        background-color: white;
        border-radius: 15px;
        width: 450px;
        padding: 30px 40px;
        box-shadow: var(--verde-escuro) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.container img {
        display: flex;
        margin: 0 auto;
        height: 70px;
        width: 210px;
        align-items: center;
        justify-content: center;
}

.container h1 {
        font-size: 30px;
        text-align: center;
}

#mensagem {
        display: none;
        padding: 10px 0;
        margin-top: 20px;
        text-align: center;

}


#mensagem .alerta-sucesso {
        background-color: #d4edda;
        color: #155724 !important;
        border: 1px solid #c3e6cb;
        border-radius: 5px;
        display: inline-block;
        padding: 5px 10px;
        margin: 0 auto;

        font-size: 14px;
        font-weight: bold;
}

#mensagem .alerta-erro {
        background-color: #f8d7da;
        color: #721c24 !important;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 auto;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
}

#usuario {
        width: 100%;
        height: 40px;
        margin: 30px 0;
}

#usuario p {
        text-decoration: underline;
}

#usuario input,
#senha input {
        width: 100%;
        height: 30px;
        border-radius: 25px;
        outline: none;
        color: black;
        font-weight: 50px;

}

#remember {
        position: relative;
        justify-content: space-between;
        margin: 30px;

}

#remember a {
        float: right;
        color: white;
        margin: 0 0 0 0;
}

#botao button {
        display: block;
        margin: 30px auto;
        align-items: center;
        border: none;
        outline: none;
        border-radius: 25px;
        background-color: var(--verde-escuro);
        color: white;
        width: 200px;
        height: 30px;
}

#botao p,
#botao a {
        color: black;
}

.container p,
a {
        text-align: center;
        color: white;
}