:root {
   --azulescuro: #003366;
    --verde: #28a745;
    --azul-footer: #1C4E9C; 
    --cinza-direitos: #333333; 
    --branco-texto: #FAFAFA;
    --branco-fundo: #e9e7e7;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2 linear;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--branco-fundo);
}

main {
    flex: 1;
}

.header{
    color: #808080;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #FAFAFA;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: #333333;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header-content a{
    color: #808080;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
}

.logo {
    flex-shrink: 0;
    margin-left: 25px;
    flex-grow: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    white-space: nowrap;
}

.nav-links a:hover {
    color: var(--verde);
}


.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.dropdown-content {
    display: none !important; 
    position: absolute; 
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100; 
    left: 0; 
    top: 100%; 
    border-radius: 4px;
    padding: 5px 0;
}

.dropdown-content a {
    color: #333333;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    text-align: left;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: var(--verde);
}

.dropdown-content.show {
    display: block !important;
}


.titulo{
    padding: 30px;
    padding-left: 40px;
}

.titulo h1{
    color: #002b7f;
    font-size: 35px;
    text-decoration: underline;
}

.container_texto {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
    width: 85%;
    font-size: 10px;
    line-height: 1.6;
    margin-bottom: 200px;
}

.texto {
    width: 72%;
    font-size: 16px;
    line-height: 1.6;
}

.texto h2 {
    margin-top: 30px;
    color: #003b9f;
    font-size: 22px;
    margin-bottom: 10px;
}

.img_cartao {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.img_cartao img {
    width: 100%;
    max-width: 380px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a{
    color: #3993D6;
}

footer {
    background-color: var(--azul-footer);
    color: var(--branco-texto);
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px; 
}

.footer-principal {
    padding: 50px 0;
}

.footer-principal .footer-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-principal .coluna {
    min-width: 150px; 
    flex-grow: 1;
    flex-basis: 20%;
}

.footer-principal .logo-contato {
    min-width: 250px;
    flex-basis: 30%; 
    text-align: left; 
}

.logo-info-wrapper {
    display: flex; 
    align-items: center;
    text-align: left;
}

.logo-grande-footer {
    width: 100px;
    height: auto; 
    flex-shrink: 0;
    margin-right: 15px;
}

.footer-principal .logo-contato img {
    width: 150px; 
    height: auto; 
    margin-bottom: 5px;
}

.footer-principal .tipos-cartao p {
    text-align: left;
    margin-bottom: 3px;
    font-size: 14px;
}

.footer-principal .coluna p,
.footer-principal .coluna ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
}

.footer-principal .coluna a {
    color: var(--branco-texto);
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
}

.footer-principal .coluna a:hover {
    color: #1ea34a;
    opacity: 1;
}

.footer-direitos {
 background-color: var(--cinza-direitos);
 padding: 15px 0;
 margin: 0;
 font-size: 13px;
}

.footer-direitos .footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #aaaaaa;
}

.footer-direitos .footer-copyright p {
    margin: 0;
}

.titulo-coluna {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 14px;
    color: #808080; 
}

.contato-titulo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.endereco p {
    font-size: 13px;
    opacity: 0.7;
}

.logo-sindicato-link {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.redes-sociais a {
    margin-right: 15px;
}
.redes-sociais img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}


.footer-direitos {
    background-color: var(--cinza-direitos);
    padding: 15px 20px;
    font-size: 13px;
    width: 100%;
    box-sizing: border-box;
}

.footer-direitos .footer-copyright {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #aaaaaa;
}
